.half {
    width: 45%;
}
.third {
    width: 33%;
}
.left {
    float: left;
    display: inline-block;
}
.right {
    float: right;
    display: inline-block;
}

.container{
    float: left;
    width: 100%;
    margin-bottom: 1.5em;
}

.ghalf li {
    width: 47%;
}

.gthird li {
    width: 33%;
}

.gfith li {
    width: 19%;
}

.gallery li {
    display: inline;
    list-style: none;

    float: left;
    margin: 0 1px 0 0 !important;
    text-align: center;
}
