
body {
    background: #fff;
    /* color: #222; */
    color: #555;
    font-family: Inconsolata, Consolas, "Liberation Mono", Menlo, Courier,
        monospace;
    font-size: 16px;
    line-height: 1.5;

    width: 100%;
    max-width: 720px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto Condensed", helvetica, sans-serif;
    font-weight: 400;
    color: #040404;
    margin: 1.618em 0 0.7em 0;
}
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 700;
}
h3 {
    margin: 0;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
}

div.content {
    margin: 0 32px;
}



.post-excerpt {
    display: block;
    padding-bottom: 1px;
    margin-bottom: 15px;
    text-decoration: none;
    color: inherit;
}
.post-excerpt p {
    margin-top: 8px;
}

a[href].post-excerpt:hover h3 {
    background-color: black;
    color: white;  
}

info {
    display: inline;  
    color: #bebebe;
    white-space: nowrap;
}



a[href].post-excerpt.photo {
    height: 300px;
    position: relative;
    background: black;
    margin-bottom: 32px;
}
a[href].post-excerpt.photo h3 {
    font-family: "Roboto Condensed", helvetica, sans-serif;
    padding: 10px 40px;
    font-size: 200%;
    font-weight: 400;
    color: white;
    /*background:rgba(255,200,0,0.1);*/
    -webkit-text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    -moz-text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    /*font-family:inherit;*/
    text-transform: none;
    /*font-weight:400;*/
    line-height: 1.1;
    padding-bottom: 1em;
}
a[href].post-excerpt.photo div.c {
    padding: 0;
    background: transparent no-repeat center center scroll;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
a[href].post-excerpt.photo div.c div.image {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
a[href].post-excerpt.photo:hover div.c {
    opacity: 1;
}
a[href].post-excerpt.photo:hover div.c div.image {
    opacity: 0.8;
}



header {
    /*background: salmon;*/
    display: flex;
    justify-content: space-between;
    height: 100px;
    cursor: default;
    
}

header .logo {
    display: block;
    flex: 0 0 auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header h1 a[href]:hover {
    transform: translate3d(0, 2px, 0);
    -webkit-transform: translate3d(0, 2px, 0);
    cursor: pointer;
}
header ul {
    display: flex;
}

header ul li {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
header a[href] {
    color: rgba(0, 0, 0, 0.452);
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;

}
header a[href]:hover {
    color: rgba(0, 0, 0, 0.849);
    font-weight: 600;
    text-decoration: none;
}
header ul li a[href].active {
    font-weight: bold;
    color: black;
}

footer {
    color: #ccc;
    display: block;
    padding: 0 0 1em 0;
    margin-top: 3em;
    /*text-align: center;*/
}
hr {
    height: 1px;
  
    border: none;
  
    background-color: #ddd;
  
  }

  img {
    max-width: 100%;
    max-height: 100%;
}

.highlight pre {
    padding-left: 1em;
}
pre,
code,
tt {
    font-family: inherit;
}

a {
    color: inherit;
}

code {
    font-family: Inconsolata, Consolas, "Liberation Mono", Menlo, Courier,
        monospace;
    background: #e6e6e6;
}

sup > a[id^="ref"] {
    vertical-align: super;
    font-size: 65%;
    line-height: 1; /* Reduces the spacing */
    position: relative;
    top: 0.2em; /* Adjust this value to move the text up */

}

sup a {
    text-decoration: none;
    font-weight: 700;
}

table{
    margin:  0 1em 0 1em;
    padding-right: 4em;
}

table th {
    padding: 0 1em 0 0;
}

table td {
    padding: 0 1em 0 0;
}