<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Site.Title }}: {{ .Title }}</title>  
  
  
  <!-- <link rel="preload" href="https://fonts.gstatic.com/s/inconsolata/v32/QlddNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLyya15.woff2" as="font" type="font/woff2">
  <link rel="preload" href="https://fonts.gstatic.com/s/inconsolata/v32/QlddNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLyya15.woff2" as="font" type="font/woff2">  
  <link rel="preload" href="https://fonts.gstatic.com/s/robotocondensed/v27/ieVo2ZhZI2eCN5jzbjEETS9weq8-_d6T_POl0fRJeyWyosBO5Xw.woff2" as="font" type="font/woff2">  
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata:400,700&amp;subset=latin-ext" as="style" >
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed" as="style" > -->
  <link rel="stylesheet" href="/fonts/roboto.css" as="style" >
  <link rel="stylesheet" href="/fonts/inconsolata.css" as="style" >
  <link rel="stylesheet" href="/css/screen.css">


  <link rel="prefetch" href="/css/grid.css" as="stylesheet">
  <link rel="prefetch" href="/css/gallery.css" as="stylesheet">  
  <link rel="prefetch" href="/about" as="document">

  {{ if .Params.title}}
  <meta property="og:title" content={{.Params.title}} />
  <meta property="og:type" content="article" />
  <meta property='article:author' content='Jan Scheffczyk' />
  <meta property='article:published_time' content={{.Params.date}}  />
  <meta property="og:description" content={{ .Params.description}} />

  {{ else }}
  <meta property="og:title" content="Knork's Blog" />
  <meta property="og:description" content="My personal block were right about whatever comes to mind mostly technical stuff." />
  <meta property="og:type" content="website" />
  
  {{ end }}
  <meta property="og:url" content= {{ .Permalink }} />
  <meta property="og:image" content={{ absURL "/res/icon/icon.png" }}  />
  {{ if .Params.mathjax}}
<script>
  MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']]
    },
    svg: {
      fontCache: 'global'
    }
  };
</script>
<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
</script>
{{ end }}

{{ if .Params.grid}}
<link rel="stylesheet" href="/css/grid.css">
{{ end }}

{{ if .Params.gallery}}
<link rel="stylesheet" href="/css/grid.css">
<link rel="stylesheet" href="/css/gallery.css">
{{ partial "image-modal.html" . }}
{{ end }}

  <link rel="icon" type="image/svg+xml" sizes="any" href="/res/icon/icon.svg">
  <script src="/js/prefetchPosts.js" defer></script>
</head>
<body>
 

  <div class="content">
    <header class="main">
        <h1 class="logo"><a href="/"><img src="/res/icon/icon.svg" width="32" height="32"></a></h1>
        <ul class="navigation">
           <li id="about"><a href="/about/">About me</a></li>
        </ul>
      </header>
  {{ block "main" . }}
  {{ .Content }}
  {{ end}}
    <footer>
      <div >
        <hr>
          <p> The footer is just there to make the website look a bit nicer.</p>
      </div>
  </footer>
</div>

</body>


</html>