{{ define "main" }}

    <div class="posts">
        {{ range where .Site.RegularPages "Section" "posts" }}
            
              <!-- post.photo_url -->

                {{ if ( isset .Params "photo_url") }}
                {{ $photo_url := .Param "photo_url" }}

                <a href="{{ .Permalink }}" class="post-excerpt photo">
                    <div class="c">
                    
                      <h3> {{ .Title }}</h3>
                      <div class="image" style="background-image:url('{{ $photo_url }}')"></div>

              
                    </div>
                  </a>


                {{ else }}
                <a class="post-excerpt" href="{{ .Permalink }}">
                <div class="c">
                <h3 class="text">{{.Title}}</h3>
                <div class="body">
                  <p>
                  {{.Description}}                  
                  <info datetime="">
                    {{time.Format "Jan 2006" .Date}}
                  </info>
                  </p>
                </div>
            </div>
              
        </a>
                {{ end }}
        
        
          
        {{ end }}


    </div>
 
  
{{ end }}
